body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.landingPage {
  background: url('./images/forecast2.png');
  background-size: cover;
  margin-top: 0;
  padding: 20px 70px;
  text-align: center;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #004F98;
}

h1 {
  color: #FFD700;
  text-shadow: 2px 2px 5px black;
  text-align: center;
  padding: 20px 70px;
}
h2 {
  color: #004F98;
  text-align: center;
}

p {
  color: white;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type=submit], button[type=button] {
  width: 100%;
  background-color: #004F98;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: gray;
}
.formStyle {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 20px 300px;
}

.linkStyle {
  color: white;
}
.banner {
  background: url('./images/forecast.png');
  width: 100%;
  height: 500px;
}